# Everyone
numpy
pandas
scipy
matplotlib
seaborn
jupytr
sympy
biopython

# Inside Cattle
cobra

# Outside Cattle
scikit-learn

# Methanogenesis
tellurium
lmfit
SAlib

# Algae 'n' Enzymes
pymol
nglview