# EVERYONE
numpy # numerical operations
pandas # scientific computing
scipy # data manipulation + analysis
matplotlib # plotting
seaborn # statistical data visualization
sympy # symbolic math
biopython # biological computation

# INSIDE CATTLE
cobra # for FBA 

# OUTSIDE CATTLE
scikit-learn

# METHANOGENESIS
tellurium # for reaction kinetics modelling
lmfit # for curve fitting + optimization
SAlib # for sensitivity analysis 

# ALGAE 'N' ENZYMES

# PROTEIN MODELLING